<div class="row">
  <div class="col-md-3" ng-controller="RoomController">
    <ul id="roomsList" class="nav nav-pills nav-stacked">
      <li style="margin-bottom:10px">Rooms<button class="btn-mini pull-right"  ng-click="createRoomDialog()" href="#createRoomModal" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></button></li>
      <li ng-repeat="room in rooms" ng-class="{active:isActive(room)}"><a ng-click="joinRoom(room)">{{room}}</a></li>
    </ul>
  </div>
  <div class="col-md-9" ng-controller="ChatController">
    <div scroll-div to-watch="messages" class="jumbotron message-area" style="font-size : 14px">
      <div ng-repeat="message in messages" class='alert {{message.colour}}' style='padding : 5px;padding-left: 10px;margin-bottom : 10px'>{{message.text}}</div>
    </div>
    <form ng-submit="sendChatMessage()" class="form-inline" role="form">
      <div class="form-group">
        <input ng-model="chatMessage" autofocus type="text" class="form-control" id="message" placeholder="Chat ..."/>
      </div>
      <button id="sendButton" class="btn" ng-click="sendChatMessage()" >Send</button>
    </form>  
  </div>
</div>  