<div class="row">
  <div class="col-md-3">
    <ul id="roomsList" class="nav nav-pills nav-stacked">
      <li style="margin-bottom:10px">Rooms<button class="btn-mini pull-right"  href="#createRoomModal" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></button></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="jumbotron message-area" style="font-size : 14px">
    </div>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control" id="message" placeholder="Chat ..."/>
      </div>
      <button id="sendButton" class="btn">Send</button>
    </form>  
</div>